@import '../../variable';
.hero-title {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        border-left: 30px solid var(--beforebg);
        border-bottom: 30px solid var(--beforebg);
        border-top: 30px solid transparent;
        border-right: 30px solid transparent;
        z-index: 3;
    }

    img {
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-filter: blur(5px);
                filter: blur(5px);
    }

    .hero-title-wrap {
        height: auto;
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 1140px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        padding: 15px 320px 60px 15px;
        text-align: left;

        .cate {
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                    -ms-flex-align: center;
                align-items: center;

            a {
                text-transform: uppercase;
                color         : #fff;
                line-height   : 30px;
                padding       : 0 14px;
                background    : var(--cl);
                letter-spacing: 1px;
                position: relative;
                margin-left: 8px;
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 0;
                    left: -8px;
                    border-right: 4px solid var(--cl);
                    border-bottom: 15px solid var(--cl);
                    border-top: 15px solid transparent;
                    border-left: 4px solid transparent;
                }
                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 0;
                    right: -8px;
                    border-left: 4px solid var(--cl);
                    border-bottom: 15px solid transparent;
                    border-top: 15px solid var(--cl);
                    border-right: 4px solid transparent;
                }
            }
        }

        h1 {
            line-height: 1.2;
            margin: 19px 0 34px 0;
            text-shadow: 2px 2px 2px #000;

            a {
                color: #fff;
                font-size: 40px;
            }
        }
        .author-post-wrap {
            font-family: $second-font-family;
            font-weight: 600;
            color: #fff;
            padding-right: 5px;
            text-shadow: 2px 2px 2px #000;
            a {
                color: var(--bg);
                display: inline-block;
                padding: 5px 0;
            }
        }
        .time-post {
            font-family: $second-font-family;
            color: #fff;
            text-shadow: 2px 2px 2px #000;
            &::after, &::before {
                content: ' / ';
                text-shadow: 2px 2px 2px #000;
            }
        }
        .read-time {
            color: #fff;
            padding-left: 3px;
            font-family: $second-font-family;
            text-shadow: 2px 2px 2px #000;
        }
    }
}
.cate-seo-title {
    color: #fff;
    font-size: 1.25em;
    text-shadow: 2px 2px 2px #000;
}