$primary-font-family: 'Source Sans Pro', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
$primary-border-color: rgba(255,255,255,.1);
$normal: 1em;
$medium: 0.875em;
$author-font-size: .9375em;
$primary-font-size-h1: 1.375em;
$primary-color: #fff;
$primary-line-height: 1.7;
$primary-line-height-title: 1.2;
$primary-time-color: #9b9b9b;
$default-transition: all .2s cubic-bezier(.25,.46,.45,.94);
$default-transition-link: .2s ease-in-out;