<footer class="mfooter-container">
    <div class="info__blog">
        <div class="info__1">
            <a title="Rules" href="{{ site.url }}/rules.html" target="_blank">Rules</a>
            <a rel="noopener" title="Request a tutorial" href="https://forms.gle/nfd1fd17pfL3mrxH8" target="_blank">Request a tutorial</a>
            <a rel="noopener" title="Submit articles written by yourself" href="https://forms.gle/LqaNnXM3k2mNprm4A" target="_blank">Submit a article</a>
        </div>
        <div class="info__2">
            <a title="About" href="{{ site.url }}/gioi-thieu.html" target="_blank">About</a>
            <a title="Website tác giả" href="https://duongnamtruong.com" target="_blank">Author Website</a>
            <a title="Site map" href="{{ site.url }}/site-map.html" target="_blank">Site map</a>
        </div>
        <div class="info__3">
            <a title="Chuyển sang phiên bản tiếng Việt" href="https://laptrinhbanthan.com">
                <img src="{{ site.url }}/assets/img/viet-nam.png" width="32" alt="union-jack">
                Phiên bản tiếng Việt</a>
        </div>
    </div>
    <div class="container-1140-foot">
        <div class="copyright">Crafted with&nbsp;<svg style="width: 1em;height: 1em; color: red;vertical-align: top;">
                <use xlink:href="#heart-solid">
            </svg>&nbsp;and&nbsp;<svg style="width: 1em;height: 1em; color: #6f4e37; vertical-align: top;">
                <use xlink:href="#mug-hot-solid">
            </svg>&nbsp;by <a title="Author" target="_blank" href="https://www.facebook.com/lonelybaby99">&nbsp;Nam Truong</a>.
        </div>
        <div class="social-icon-footer">
            <a target="_blank" aria-label="Follow us on Telegram" class="icon-footer tele" href="https://t.me/lonelybaby99" title="Follow us Telegram">
                <svg style="width: 1em; height: 1em;vertical-align: bottom;">
                    <use xlink:href="#telegram-plane-brands">
                </svg>
            </a>
            <a target="_blank" aria-label="Contact us via EMail" class="icon-footer mail" href="mailto:hi@duongnamtruong.com" title="Contact us via Email">
                <svg style="width: 1em; height: 1em;vertical-align: bottom;">
                    <use xlink:href="#envelope-solid">
                </svg>
            </a>
        </div>
    </div>
</footer>